@mixin clearBoth{
  content:"";
  display: block;
  clear: both;
}
//base color
$baseColor:#0079bf;
@media only screen and (max-width: 600px) {
  header{
    height: 60px;

    .header-container{
      .header-left{
        width: 80px;
        a{
          img{
            width: 70%;
            padding: 6%;
          }
        }
      }
      .header-right{
        .header-nav{
          display: none;
          //position: absolute;
          //background-color: #3b3b3c;
          //top: 60px;
          //right: 0;
          //ul{
          //  li{
          //    float: none;
          //    border-bottom: 1px solid #4f4f50;
          //    a{
          //      line-height:50px;
          //      color: #eae3e3;
          //    }
          //  }
          //}
        }
        .header-search{
          width: 70%;
          display: none;
          p{
            margin-top: 15px;
            input{
              width: 120px;
              font-size: 16px;
            }
          }
        }
        .header-user{
          width: 30%;
          .user-info{
            padding-right: 5px;
            p{
              margin-top: 15px;
              a{
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                overflow: hidden;
                img{
                  width: 30px;
                }
                span{
                  font-size: 16px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
        .user-list{

        }
      }
    }
  }
  section{
    width: 96%;
    margin:10px auto;
    //all title
    .baoming-title{
      font-size: 16px;
      margin-top: 10px;
      line-height: 40px;
      background: $baseColor;
      text-align: center;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    //small title
    .sm-title{
      font-size: 20px;
      padding: 15px;
      border-bottom: 1px solid #ccc;
      text-align: left;
    }
    //two btn
    .btn-group{
      padding: 20px;
      a{
        display: block;
        height: 50px;
        font-size: 24px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: $baseColor;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        width: 48%;
        float: left;
        background: #ccc;
      }
      a:last-of-type{
        width: 48%;
        margin-left: 4%;
        background: $baseColor;
      }
      &::after{
        @include clearBoth;
      }
    }
    //one btn
    .btn-one{
      width: auto;
      margin: 0 15px;
      a{
        display: block;
        width: 100%;
        height: 50px;
        margin: 10px auto;
        font-size: 24px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #0079bf;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
      }
    }
    //gray btn
    .gray-btn{
      background: #ccc!important;
    }
    .top-container{
      width: auto;

      .event-img{
        width: 100%;
      }
      .event-info{
        width: 96%;
        margin-top: 10px;

        .event-title{
          font-size: 16px;
        }
      }
      .event-code{
        display: none;
      }
    }
    .content-container{
      //baoming page
      .content-top{
        ul{
          li{
            font-size: 14px;
          }
        }
      }
      .content-page{
        width: 100%;

      }
      .content-page2{
        .content-info{
          border-top: none;
          padding: 15px;

          .content-card{
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;

            p{
              font-size: 16px;
              line-height: 30px;
              padding: 0px 10px;
              font-weight: 900;

              .taocan-title{
                color: $baseColor;
              }
              .taocan-price{
                color: #f00;
              }
              .taocan-person{
                i:nth-of-type(1){
                  color: $baseColor;
                }
                i:nth-of-type(2){
                  color: #000;
                }
              }
              span{
                font-weight: normal;
                i{
                  font-style: normal;
                }
              }
            }
          }
          .content-shuoming{
            padding:10px 10px;
            border-bottom:1px solid #ccc;

            p{
              font-size: 16px;
              line-height:24px;
              color: #5a5555;
            }
          }
        }
      }
      .content-page3{
        .register-list{
          width: 100%;
          padding: 0 0 50px;

          &::after{
            @include clearBoth;
          }
          .list{
            width: 80%;
            padding: 5px 5%;
            border: 1px solid $baseColor;
            font-size: 16px;
            margin: 10px auto 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            p{
              line-height:28px;
            }
          }
        }
      }
      .baoming-page{

        p{
          margin:10px 0;
          font-size: 16px;
          padding-bottom: 10px;
          border-bottom: 1px solid #ccc;
        }
        ul{
          width: 95%;
          padding-left: 5% ;
          &::after{
            @include clearBoth;
          }
          li{
            width: 30%;
            padding: 10px 0;
            float: left;
            font-size: 16px;
          }
          li:nth-of-type(3){
            width: 40%;
          }
          li:nth-of-type(2){
            span{
              color: #f00;
            }
          }
        }
        .fujia{
          li{
            line-height:30px;
            button{
              width: 33%;
              color: #fff;
              height: 30px;
              border-right:none;
              border-left:none;
              outline:none;
              background: $baseColor;
            }
            button:nth-of-type(1){
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
            }
            button:nth-of-type(2){
              background: #fff;
              color: #000;
            }
            button:nth-of-type(3){
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
            }
          }

        }
      }
      .tijiao-page{
        padding: 0 15px;
        ul{
          li:nth-of-type(3){
            text-align: center;
          }
        }
      }
      .price{
        width: auto;
        padding: 15px;
        border-top:1px solid #ccc;
        p{
          font-size: 18px;
          text-align: right;
          padding: 10px 0;
          span{
            color: #f00;
          }
        }
      }
      //警告信息
      .alert-info{
        color: #f00;
        font-size: 12px;
        margin: 5px 0;
        text-align: center;

      }
      .user-info{
        padding: 15px;
        table{
          width: 100%;
          font-size: 16px;

          tbody{
            tr{
              td{
                padding: 5px;
                input{
                  width: 96%;
                  height: 24px;
                  outline:none;
                }
                label{
                  margin-left: 30px;
                  font-size: 16px;
                  input{
                    width:24px;
                    margin-right: 5px;
                    vertical-align: middle;
                    margin-top: -2px;
                  }
                }
                select{
                  height:25px;
                }
              }
              td:first-of-type{
                text-align: right;
              }
            }
          }
        }
        .danger-info{
          table{
            tbody{
              tr:last-of-type{
                input{
                  width: 8%;
                  vertical-align: middle;
                }
                span{
                  font-size:12px;
                }
              }
            }
          }
        }
      }
      //zhifu page
      .zhifu-content{
        .dingdan-content{
          .zhifu-dingdan{
            padding: 15px;
            table{
              tbody{
                tr{
                  td{
                    padding: 5px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
      .zhifu-type{
        width: 100%;
        text-align: center;

        .zhifu-box{
          padding: 15px 0;

          .zhifu-list{
            border-bottom: 1px solid #ccc;
            label{
              img{
                width: 50%;
                vertical-align: -100%;

              }
              input{
                margin-left: 50px;
              }
            }
          }
        }
        .pay-btn{
          padding: 8px 30px ;
          text-align: center;
          font-size: 24px;
          color: #fff;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background: $baseColor;
        }
      }
      //zhif success page
      .zhifu-result{
        p:nth-of-type(1){
          text-align: center;
          padding-top: 20px;
          line-height:50px;
          padding-left: 0%;

          .icon-zhengque{
            font-size: 40px;
            color: #10ff16;
            display: block;

          }
          span{
            font-size: 30px;

          }
        }
        p:last-of-type{
          font-size: 14px;
          padding-left:0 ;
        }
        p{
          line-height: 30px;
          padding-left: 20%;
        }

      }
      //dingdan page
      .dingdan-btn{
        margin-top: 20px;
        .del-btn{
          background: #dd573a;
        }
        .pay-btn{
          background: $baseColor;
        }
      }
      .tel-text{
        font-size: 14px;
        text-align: center;
        line-height:30px;
        a{
          font-size: 20px;
          color: $baseColor;
        }
      }
      //user-center
      .user-content{
        padding: 10px 50px;
        .user-img{
          width: 120px;
          height: 120px;
          margin: 0 auto;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
        p{
          font-size: 20px;
          text-align: center;
          margin: 10px auto;
          color: #888;
        }
      }
      .dingdan-content{
        width: 100%;
        .dingdan-list{
          padding: 15px;
          border-bottom:1px solid #ccc;

          &::after{
            @include clearBoth;
          }

          p{
            font-size: 16px;
            line-height: 30px;
          }
          .dingdan-title{
            font-weight: 900;
          }
          .dingdan-price{
            span{
              color: #f00;
            }
          }
          .dingdan-status{
            span{
              color: $baseColor;
            }
          }
          .dingdan-info{
            float: left;
            margin-top: 10px;
          }
          .dingdan-edit{
            float: right;
            margin-top: 10px;
          }
          .sm-btn{
            display: inline-block;
            width: 80px;
            height: 35px;
            line-height:35px;
            text-align: center;
            background: $baseColor;
            color: #fff;
            margin-left: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
          }
          .dingdan-xq{
            background: #77c6ea;
          }
          .dingdan-cancel{
            background: #ccc;
          }
          .dingdan-delete{
            background: #dd573a;
          }
          .dingdan-pay{
            background: #37dd32;
          }
        }
      }
    }
    //qurenBox
    .querenBox{
      width: 100%;
      height: 100%;
      position: fixed;
      z-index:9;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.6);
      overflow: scroll;
      
      .content-container{
        width: 100%;
        margin-top: -10px;
      }
    }
    .content-page1{
      width: 90%!important;
      padding: 10px 5% 50px;

      .activity-text{
        font-size: 16px;
        line-height: 30px;
        text-indent: 2em;
      }
      .activity-img{
        margin: 10px 0;
        img{
          width: 100%;
        }
      }
    }
  }
  body>footer{
    width: 100%;
    margin:0 auto;
    background: #464c4c;
    display: none;


    //baoming page
    .bottom-info{
      border-top:1px solid #ccc;
      font-size: 14px;
      padding: 10px 0;

      p{
        text-align: center;
        color: #bfbfab;
        a{
          color: #fff;
        }
      }
    }
  }
}
//alert page
.alert-container{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index:10;
  .alert-content{
    width: 80%;
    height: 200px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    .alert-title{
      background: $baseColor;
      color: #fff;
      font-size: 20px;
      padding: 5px 10px;
      
    }
    .alert-info{
      padding: 20px;
      p{
        color: #000;
        font-size: 16px;
        line-height:26px;
      }
    }
    .alert-btn{
      width: 100%;
      position: absolute;
      bottom: 20px;
      text-align: center;
      a{
        font-size: 16px;
        background: $baseColor;
        color: #fff;
        padding:5px 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      a:last-of-type{
        background: #ccc;
        margin-left:20px;
      }
    }
  }

}
