body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f8f2f2;
}
p{
    margin: 0;
}
ul,li{
    list-style: none;
    padding-left: 0;
}
.container{
    width: 100%;
    max-width: 600%;
    margin: 0 auto;
    position: relative;
}
.content{
    padding-bottom: 60px;
}
.audio{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: url("../images/audio2.png") no-repeat;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
}
.event-info{
    width: 60px;
    position: absolute;
    right: 10px;
    top: 0px;
    /*background: red;*/

}
.event-info>img{
    width: 100%;
}
.head-img{
    width: 100%;
    /*height: 200px;*/
    /*background: url("../images/header.png") no-repeat;*/
    -webkit-background-size: 100%;
    /*background-size: 100%;: ;*/
}
.event-time{
    width: 100%;
    height: 30px;
}
.event-time>p{
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    padding: 5px;
    color: #a2cd5a;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.search{
    width: 100%;
    height: 30px;
    margin: 15px 0;
    text-align: center;
}
.search>label>input[type=text]{
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search>label>input[type=button]{
    width: 60px;
    height: 32px;
    background: #a2cd5a;
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    border: none;
    vertical-align: middle;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rank{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 18px;
    background: #a2cd5a;
    color: #fff;
    line-height: 40px;
}
ul.list-content{
    width: 94%;
    padding: 15px 3%;
}
ul.list-content::after{
    content: '';
    display: block;
    clear: both;
}
.list{
    width: 44%;
    float: left;
    margin-left: 4%;
    background: #ccc;
    margin-bottom: 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.list-title{
    width: 100%;
    height: 24px;
    margin: 0;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,.5);
    text-align: center;
}
.img-box{
    width: 100%;
    padding-top: 130%;
}
.list-info{
    width: 100%;
    background: #a2cd5a;
    padding-top: 10px;
}
.count{
    width: 100%;
    height: 30px;
    line-height:30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px auto;
}
.btn{
    width: 60%;
    margin: 0px auto;
    height: 30px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #6f6b6b;
    line-height: 30px;
    font-size: 12px;
}
.btn>.star{
    width: 16px;
    vertical-align: text-bottom;
    margin-right: 3px;
}
.loadMore{
    font-size: 16px;
    text-align: center;
    color: #2a8dd1;
}
.baomin-btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #a1cd5b;
}
.person{
    width: 16px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.alert-container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
}
.alert-content{
    width: 80%;
    height: 200px;
    background: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    overflow: hidden;
}
.alert-title{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.alert-info{
    width: 100%;
    height: 100px;
}
.alert-info>p{
    font-size: 16px;
    padding: 10px 15px;
}
.alert-btn{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}
.alert-btn>a{
    width: 50%;
    height: 40px;
    line-height:40px;
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #3abf00;
}
.alert-btn>a:first-of-type::after{
    content: '';
    display: block;
    height: 100%;
    background: #ccc;
    width: 1px;
    position: absolute;
    right: 50%;
    top: 0;
}
.closeBtn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 20px;
}
.closeBtn>img{
    width: 100%;
}
.shuoming-info{
    width: 90%;
    height: 90%;
    margin: 5% auto;
    overflow-y: scroll;
}
.shuoming-title{
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 10px 0;
}
.shuoming-text{
    font-size: 14px;
    color: #fff;
    line-height:20px;
}
.shuoming-btn{
    margin: 10px 0;
}
.shuoming-btn>span{
    background: #fff;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*图片上传页面*/
.img-content{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}
.img-show{
    width: 40%;
    padding-top: 60%;
    border: 1px solid #9c8787;
    margin: 0px auto;
}
.upload-btn{
    width: 42%;
    height: 40px;
    margin-left: 5%;
    margin-bottom: 20px;
    line-height:40px;
    background: #a1cd5b;
    float: left;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.upload-btn1{
    width: 100px;
    height: 40px;
    margin: 10px auto;
    line-height:40px;
    background: #a1cd5b;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#choseImg{
    background: #2c9eee;
}
.select-btn{
    font-size: 18px;
    color: #fff;
}
.user-content{
    width: 60%;
    margin: 0 auto;
}
.user-content>input{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border: none;
    outline:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}
.img-alert{
    font-size: 16px;
    padding: 15px;
}

.user-info-content{
    width: 40%;
    margin: 0 auto;
}
.user-info-content>p{
    color: #000;
    font-size: 18px;
    text-align: center;
}
.return-btn>a{
    color: #000;
    background: #a1cd5b;;
    display: block;
    width: 44%;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-left: 4%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*分享*/
/*支付成功后分享功能*/
.share-content{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index:99999;
}
.share-content .share-img{
    width: 80%;
    margin:30px auto;

}
.share-img img{
    width: 100%;
}
.share-content .share-ok{
    width: 50%;
    margin: 100px auto;
}
.share-ok img{
    width: 100%;
}